* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 1px;
    border: 1px solid black;
}

.row {
    display: flex;
    gap: 1px;
}

.element {
    background-color: lightgreen;
}
